@model UrlShorter.Application.Dtos.UrlDto
@{
    ViewData["Title"] = "Count";
}

<div class="row justify-content-center">
    <div class="col-8">
        <div class="card border-secondary mt-5">
            <div class="card-header">Url Shorter</div>
            <div class="card-body">
                <span class="card-title">Url visit count: <strong>@Model.Count</strong></span>
            </div>
        </div>
    </div>
</div>

