
@{
    ViewData["Title"] = "About";
}
<div class="mt-5">
    <span>
        Welcome to our URL Shortener app! We make it easy to transform long, unwieldy URLs into short, shareable links. Our platform is simple to use and integrates seamlessly with social media, email, and other sharing platforms.

        We value security and ensure each shortened link is unique, with built-in analytics to track usage and engagement. Whether you're a marketer, developer, or casual user, our app is designed to meet your needs. Thanks for choosing us, and happy shortening!
    </span>
</div>



